body{
    font-family: 'Lato', sans-serif;
}

.navbar > a{
    padding-left:20px;
    padding-right:20px;
  }


.home-body {
    background: url('home-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.maintxt {
    position: relative;
    font-size: 75px;
    color:white;
}
.maintxt > img, .overlay-text {
    position: absolute;
}

.overlay-text {padding: 150px 50px;}


.registration{
    color: rgb(116, 100, 100);
}

.registration:hover{
    color: rgb(155, 146, 146);
    text-decoration: none;
}
  