{% extends "Home/base.html" %}

{% block content %}

{% if accepted %}
<div class="container mx-auto text-center mt-3">
        {% for detail in details %}
        <div class="container mt-3 bg-light d-inline-flex text-center" style="height: 120px; border-radius: 10px;">
            <div class="p-2" style="margin-top: 30px; font-size: 24px;">
                {{ detail.dish.name }}
            </div>
            <div class="p-2" style="margin-top: 38px;">
                {{ detail.dish.price }} USD
            </div>
            <div class="p-2" style="margin-top: 37px;">
                {{ detail.dish.description }}
            </div>
            <div class="p-2" style="margin-left: 600px;">
            <img src="../../../media/{{ detail.dish.image }}" style="width: 100px; height: 100px; border-radius: 10px;">
            </div>
            </div>
        <form class="mt-3" action = "{% url 'deleteDish' %}" method ="POST">
            {% csrf_token %}
            <input type  = "hidden" name = "dish_id" value = {{detail.dish.id}}>
            <input type = "submit" class = "btn btn-secondary mx-atuo" value = "Delete Dish">
        </form>
        {% endfor %}
    </br>
    <a class="btn btn-primary mt-3"href="{% url 'addDish' %}">AddDish</a>
    <div style="height: 200px;"></div>
</div>
<div style="height: 200px;"></div>

{% else %}
<div class="container mx-auto text-center mt-5">
    <div class="container mt-3 bg-light text-center" style="height: 170px; border-radius: 10px;">
        <div class="container mx-auto text-center mt-5">
            <span class="h4">This site is not avaible for you!</span>
        </div>
        <div class="container mx-auto text-center mt-4">
            <span class="h4">Please fill your restaurant information.</span>
        </div>
        <div class="container mx-auto text-center mt-4">
            <span class="h4">If you have already done this, please wait for acceptance.</span>
        </div>
    </div>
</div>





{% endif %}

{% endblock content %}

