{% extends "Home/base.html" %}
{% block content %}

<div class="container mx-auto text-center mt-3">
<div class="container mt-3 bg-light text-center" style="height: 150px; border-radius: 10px;">
    <div class="p-1" style="margin-top: 12px; font-size: 24px;">
        <span class="h1">{{restaurant.restaurant_name}}
    </div>
    <div class="" style="margin-top: 12px;">
        Address: {{restaurant.address.city}} {{restaurant.address.street}} {{restaurant.address.building_number}}/{{restaurant.address.building_number}}
    </div>
    <div class="" style="margin-top: 15px;">
        Open time: {{restaurant.open_time}}  |  Close time: {{restaurant.close_time}}  |  Phone number: {{restaurant.phone_number}}
    </div>
</div>
</div>

<div class="container mx-auto text-center mt-3">
    <h1 class="container bg-secondary w-50 rounded">MENU <i class="fas fa-utensils"></i></h1>
    {% for detail in details %}
    <div class="container mt-3 bg-light d-inline-flex text-center" style="height: 80px; border-radius: 10px;">
        <div class="p-2" style="margin-top: 12px; font-size: 24px;">
            {{ detail.dish.name }}
        </div>
        <div class="p-2" style="margin-top: 20px;">
            {{ detail.dish.price }} USD
        </div>
        <div class="p-2" style="margin-top: 19px;">
            {{ detail.dish.description }}
        </div>
        <div class="ml-auto p-2">
            <form class ="mt-3" action = "{% url 'addToCart'%}" method ="POST">
                {% csrf_token %}
                <input type  = "hidden" name = "restaurant_id" value = {{restaurant.id}}>
                <input type  = "hidden" name = "dish_id" value = {{detail.dish.id}}>
                <input class="btn btn-outline-primary" type = "submit" class = "btn" value = "Add to cart">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div style="height: 200px;"></div>

{% endblock content %}