
{% extends "Home/base.html" %}

{% block content %}

<div class="container w-50">
    <div class="card mt-5 mx-auto text-center">
        <div class="card-body" style="font-size: 20px;">
            <p style="font-size: 60px;" class="p-3">Your profile</p>
            <p class="p-1">Username: <span style="color: grey;">{{user.username}}</span></p> 
            <p class="p-1">Email: <span style="color: grey;">{{user.email}}</span></p> 
            <p class="p-1">First name: <span style="color: grey;">{{deliverer.first_name}}</span></p> 
            <p class="p-1">Last Name: <span style="color: grey;">{{deliverer.last_name}}</span></p>
            <p class="p-1" >Phone Number: <span style="color: grey;">{{deliverer.phone_number}}</span></p>
            <p class="p-1">Status: <span style="color: grey;">{{ deliverer.status }}</span></p>
            <form action = "{% url 'changeDelivererStatus' %}" method ="POST">
              {% csrf_token %}
              <input type = "submit" class = "btn btn-outline-secondary mt-1" value = "Change status">
          </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script  type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";
window.onload = function geoFindMe() {

  function success(position) {

    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    $.ajax({
    url: "{% url 'updateLocation' %}",
    type: 'POST',
    data: {"latitude":latitude,"longitude":longitude,csrfmiddlewaretoken: window.CSRF_TOKEN},
    dataType: 'json',
    success: function (response) {
      console.log('Success: ', response)
    },
    error: function (response) {
      console.log('Error: ', response)
    }
  });
  }

  function error() {
    console.log("Problem with getting location")
  }

  if(!navigator.geolocation) {
    console.log("No geolocation available")
  } else {
    var options = {
        
    }
    navigator.geolocation.watchPosition(success, error,options);
  }

}

</script>

{% endblock content %}



