
<p>Username: {{user.username}}</p> 
<p>Email: {{user.email}}</p> 
<p>First name: {{deliverer.first_name}}</p> 
<p>Last Name: {{deliverer.last_name}}</p>
<p>Phone Number: {{deliverer.phone_number}}</p>
<p>{{ deliverer.status }}</p>
<form action = "{% url 'changeDelivererStatus' %}" method ="POST">
    {% csrf_token %}
    <input type = "submit" class = "btn" value = "Change status">
</form>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script  type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}";
window.onload = function geoFindMe() {

  function success(position) {

    const latitude  = position.coords.latitude;
    const longitude = position.coords.longitude;

    $.ajax({
    url: 'updateLocation/',
    type: 'POST',
    data: {"latitude":latitude,"longitude":longitude,csrfmiddlewaretoken: window.CSRF_TOKEN},
    dataType: 'json',
    success: function (response) {
      console.log('Success: ', response)
    },
    error: function (response) {
      console.log('Error: ', response)
    }
  });
  }

  function error() {
    //TODO
  }

  if(!navigator.geolocation) {
    //TODO
  } else {
    var options = {
        enableHighAccuracy: true
    }
    navigator.geolocation.watchPosition(success, error,options);
  }

}

</script>



