{% extends "Home/base.html"%}
{% block content %}  

<div class="container mx-auto text-center mt-3">
    <h1 class="container bg-secondary w-50 rounded">MENU <i class="fas fa-utensils"></i></h1>
    {% for order in orders %}

    {% if order.status == "Status.PENDING_RESTAURANT" %}
    <div class="container mt-3 bg-light d-inline-flex text-center" style="height: 120px; border-radius: 10px;">
        <div class="p-2" style="margin-top: 12px; font-size: 24px;">
            {{order.price}}
        </div>
        <div class="p-2" style="margin-top: 20px;">
            {{order.restaurant.restaurant_name}}
        </div>
        <div class="ml-auto p-2">
            <form class="p-2" action = "{% url 'acceptOrderR' %}" method ="POST">
                {% csrf_token %}
                <input type  = "hidden" name = "order_id" value = {{order.id}}>
                <input type = "submit" class = "btn" value = "Accept Order">
            </form>
            <form class="p-2" action = "{% url 'declineOrderR' %}" method ="POST">
                {% csrf_token %}
                <input type  = "hidden" name = "order_id" value = {{order.id}}>
                <input type = "submit" class = "btn" value = "Decline Order">
            </form>
        </div>
    </div>
    {% endif %}
{% endfor %} 
</div>

{% endblock content %}
