{% extends "Home/base.html" %}
{% block content %}


{% for order in orders %}


    {% if order.status != Status.COMPLETED and order.status != Status.DECLINED %}
    <div class="container w-50">
        <div class="card mt-5 mx-auto text-center">
            <div class="card-body" style="font-size: 20px;">
                <p style="font-size: 60px;" class="p-3">Your order info</p>
                <p class="p-1">Price: <span style="color: grey;">{{order.price}}</span></p> 
                <p class="p-1">Status: <span style="color: grey;">{{order.status}}</span></p> 
                <p class="p-1">Restaurant name: <span style="color: grey;">{{order.restaurant.restaurant_name}}</span></p> 
                <p class="p-1">Deliverer name: <span style="color: grey;">{{order.deliverer.first_name}}</span></p>
            </div>
        </div>
    </div>
    {% endif %}

    
{% endfor %}   

{% endblock content %}
