{% extends "Home/base.html" %}
{% block content %}


{% for order in orders %}

    
    <div class="container w-50">
        <div class="card mt-5 mx-auto text-center">
            <div class="card-body" style="font-size: 20px;">
                <p style="font-size: 60px;" class="p-3">Your order info</p>
                <p class="p-1">Price: <span style="color: grey;">{{order.price}}</span></p> 
                <p class="p-1">Status: <span style="color: grey;">{{order.status}}</span></p> 
                <p class="p-1">Restaurant name: <span style="color: grey;">{{order.restaurant.restaurant_name}}</span></p> 
                <p class="p-1">Deliverer name: <span style="color: grey;">{{order.deliverer.first_name}}</span></p>
                {% if order.status == "Completed" %} <!-- jezeli nie jest completed to w ogole oceny sie nie da dac-->
                    {% if order.restaurant_rating == 0 %}
                    <form action = "{% url 'rateRestaurant' %}" method ="POST">
                        {% csrf_token %}
                        <div class = "rate-wrapper">
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <input type  = "hidden" name = "order_id" value = {{order.id}}>
                            <input type = "submit" class = "btn btn-outline-secondary" value = "Rate restaurant"> 
                    </div>
                    {% else %}
                    {% if order.restaurant_rating == 1 %}
                    <p>Restaurant rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.restaurant_rating == 2 %}
                    <p>Restaurant rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.restaurant_rating == 3 %}
                    <p>Restaurant rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.restaurant_rating == 4 %}
                    <p>Restaurant rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.restaurant_rating == 5 %}
                    <p>Restaurant rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span></p>
                    {% endif %}
                {% endif %}   

                    {% if order.deliverer_rating == 0 %}
                    <form action = "{% url 'rateDeliverer' %}" method ="POST">
                        {% csrf_token %}
                        <div class = "rate-wrapper">
                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <input type  = "hidden" name = "order_id" value = {{order.id}}>
                            <input type = "submit" class = "btn btn-outline-secondary" value = "Rate deliverer"> 
                        </div>
                    {% else %}
                    {% if order.deliverer_rating == 1 %}
                    <p>Deliverer rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.deliverer_rating == 2 %}
                    <p>Deliverer rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.deliverer_rating == 3 %}
                    <p>Deliverer rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.deliverer_rating == 4 %}
                    <p>Deliverer rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span></p>
                    {% endif %}
                    {% if order.deliverer_rating == 5 %}
                    <p>Deliverer rate : <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span></p>
                    {% endif %}
                    {% endif %}

                {% endif %}`

                

                      
            </div>
        </div>
    </div>
    

    
{% endfor %}   

<div style="height:200px;"></div>

{% endblock content %}
